<!-- <p>home works!</p>
<input type="button" routerLink="addproduct" value="Addproduct">
<input type="button" routerLink="viewproduct" value="viewproduct">

<router-outlet></router-outlet> -->





<!-- <div class="container" style="text-align: center;" class="hero">
<h1>home works!</h1>
<div class="hero">


<nav>
<button routerLink="player/playeradd" style="width: 250px;">P-ADD</button><br>
<button routerLink="player/playerview" style="width: 250px;">P-view</button> -->


<body>
    <div class="hero" >
      
        <video autoplay loop muted plays-inline  class="backvido">
      
            <source src="https://player.vimeo.com/external/271510997.sd.mp4?s=4cf911b949066ba984a9535427043fc5c8fbef22&profile_id=164&oauth2_token_id=57447761" type="video/mp4">
          </video>
          
         
        
    
            <nav>
                <H1 style="color: darkblue;">Product Work </H1>&nbsp;&nbsp;&nbsp;
                <button routerLink="addproduct"class="btn btn-success" style="width: 250px;">ADD-Product+</button>&nbsp;&nbsp;&nbsp;
                <button class="btn btn-success"  routerLink="viewproduct"  style="width: 250px;">ALL-Product</button>
                
                
    
            </nav><br>
            
          
            <router-outlet></router-outlet>   
          
    </div>
    
    </body>
    
    